@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .nepali-date-picker {
    position: relative;
  }

  .nepali-date-picker .calender {
    background: #fff none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #8c8c8c;
    display: block;
    font-family: NotoSans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    letter-spacing: 0.2px;
    line-height: 1.25em;
    padding: 15px;
    position: absolute;
    text-align: right;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    left: 0;
    z-index: 9999;
  }

  .nepali-date-picker .calender .calendar-controller {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .nepali-date-picker .calender .calendar-controller .date-indicator {
    display: flex;
  }

  .nepali-date-picker .calender .calendar-controller .control {
    cursor: pointer;
    position: relative;
    text-align: center;
  }

  .nepali-date-picker .calender .calendar-controller .control.icon-today {
    position: absolute;
    right: 20px;
  }

  .nepali-date-picker .calender .calendar-controller .control.month, .nepali-date-picker .calender .calendar-controller .control.year {
    border: 1px solid #eee;
    line-height: 24px;
    width: 70px;
  }

  .nepali-date-picker .calender .calendar-controller .control.month .current-month, .nepali-date-picker .calender .calendar-controller .control.month .current-year, .nepali-date-picker .calender .calendar-controller .control.year .current-month, .nepali-date-picker .calender .calendar-controller .control.year .current-year {
    display: block;
    padding: 4px;
  }

  .nepali-date-picker .calender .calendar-controller .control.year {
    border-left: none;
  }

  .nepali-date-picker .calender .calendar-controller .control .drop-down {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .nepali-date-picker .calender .calendar-controller .control .drop-down ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nepali-date-picker .calender .calendar-controller .control .drop-down li {
    padding: 4px 10px;
  }

  .nepali-date-picker .calender .calendar-controller .control .drop-down li.active {
    background: #2096f5;
    color: #fff;
  }

  .nepali-date-picker .calender td.month-day.current {
    opacity: 1;
  }

  .nepali-date-picker .calender td.month-day.disabled {
    color: #d8d8d8;
  }

  .nepali-date-picker .calender td.month-day.today {
    color: #4a4a4a;
    position: relative;
  }

  .nepali-date-picker .calender td.month-day.today::before {
    background-color: #2096f5;
    border-radius: 50%;
    bottom: 6px;
    content: "";
    height: 4px;
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translateX(-50%);
    width: 4px;
  }

  .nepali-date-picker .calender td.month-day.selected {
    color: #fff;
    position: relative;
  }

  .nepali-date-picker .calender td.month-day.selected::after {
    background: #2096f5;
    border-radius: 50%;
    content: "";
    height: 35px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    z-index: -1;
  }

  .nepali-date-picker .calender table {
    text-align: center;
    width: 100%;
    border: none;
  }

  .nepali-date-picker .calender table td {
    height: 40px;
    width: 40px;
    border: none;
  }

  .nepali-date-picker .calender table tr {
    border: none;
    height: 36px;
  }
}
